* {
    margin: 0;
  }
  
  .layout {
    display: grid;
    height: 100vh;
    grid-template:                        /* Heights */
      "logo         search  settings"  50px   /* First row */
      "navigation   inbox   settings" 1fr    /* Second row */
      "meet         inbox   settings" 0.5fr    /* Third row */
      "chat         inbox   settings" 1fr /  /* Fourth row */
      300px 1fr 300px;
  }

   .settings {
    grid-area: settings;
    background-color: white;
    border-style: solid;
    height: 100vh;
    display: grid;
    grid-template: "all-settings" 1fr
                   "density"      1fr
                   "theme"        1fr
                   "inbox type"   1fr /
                   1fr;
  }
   
  .logo {
    grid-area: logo;
    background-color: white;
    border-style: solid;
  }
  
  .search {
    grid-area: search;
    background-color: white;
    border-style: solid;
  }
  
  .profile {
    grid-area: profile;
    background-color: white;
    border-style: solid;
  }
  
  .navigation {
    /*display:none;*/
    grid-area: navigation;
    background-color: white;
    border-style: solid;
  }
  
  .inbox {
    grid-area: inbox;
    background-color: white;
    border-style: solid;
    padding: 20px;
  }
    
  .meet {
    grid-area: meet;
    background-color: white;
    border-style: solid;
  }
  
  .chat {
      grid-area: chat;
      background-color: white;
      border-style: solid;
    }
  